.movie-card{
  width: 250px;
  height: 500px;
  background-color: #353434;
}
.movie-image{
  background-color: rgb(180, 175, 175);
}

.delete{
  margin-right: 200px;
  border-radius: 10px;
  margin: 3px;
}

.image{
  width: 250px;
  height: 350px;  
}

.imagex{
  margin-top: 100px;
}

.addnew{
  margin-top: 100px;
  margin-bottom: 560px;
}

.change{
  margin-top: 150px;
  margin-bottom: 150px;
}